/* @import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./1386967371_new-bmw-m3-sedan-162.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.hidden{
    display: none;
}
.btn {
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
}
.show btn {
    background-color: #474bdf;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.5s;
}
.show-btn:hover {
    background-color: #3a3d40;

}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    z-index: 100;
} 
.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.close-btn {
    color: #222;
    font-size: 20px;
}
.modal-title {
    margin-bottom: 15px;
}

.overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5 );
    backdrop-filter: blur(5px);
} */

/* .parent {
    position: relative;
    background-color: red;
    text-align: center;
    height: 300px;
    font-size: 20px;
}
.child-one{
    background-color: blue;
    position:relative;
    text-align: end;
}
.child-two{
    background-color: white;
    text-align: start;
    width: 200px;
}
.child-three{
    background-color: brown;
    text-align: right;
    font-size: 10px;
    z-index: 2;
    width: 400px;
    height: 500px;
    margin: auto;
} */

.parent{
    background-color: blue;
    width: 300px;
    height: 140px;
    position: absolute;
    display: flex;
    padding: 5px;
    margin: auto;
    left: 400px;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    margin: auto;
    position: relative;
    top: 120px;
    right: 48px;

}
.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
    position: absolute;
    top: 253px;
    right: 657px;

}
.box3{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
    position: relative;
    top: 320px;
    right: -46px;

}
.box4{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
    position: relative;
    right: 280px;
    top: 420px;
    left: 46px;

}